.job-icon {
  background-image: url('/images/metal_sprite_squared.png');
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}
.job-icon-acn {
  background-position: -1px -1px;
}
.job-icon-alc {
  background-position: -35px -1px;
}
.job-icon-arc {
  background-position: -69px -1px;
}
.job-icon-arm {
  background-position: -103px -1px;
}
.job-icon-ast {
  background-position: -137px -1px;
}
.job-icon-bishop {
  background-position: -171px -1px;
}
.job-icon-blm {
  background-position: -205px -1px;
}
.job-icon-blu {
  background-position: -1px -35px;
}
.job-icon-brd {
  background-position: -35px -35px;
}
.job-icon-bsm {
  background-position: -69px -35px;
}
.job-icon-btn {
  background-position: -103px -35px;
}
.job-icon-carbuncle {
  background-position: -137px -35px;
}
.job-icon-chocobo {
  background-position: -171px -35px;
}
.job-icon-cnj {
  background-position: -205px -35px;
}
.job-icon-crp {
  background-position: -1px -69px;
}
.job-icon-cul {
  background-position: -35px -69px;
}
.job-icon-dnc {
  background-position: -69px -69px;
}
.job-icon-drg {
  background-position: -103px -69px;
}
.job-icon-drk {
  background-position: -137px -69px;
}
.job-icon-empty {
  background-position: -171px -69px;
}
.job-icon-eos {
  background-position: -205px -69px;
}
.job-icon-error {
  background-position: -1px -103px;
}
.job-icon-fsh {
  background-position: -35px -103px;
}
.job-icon-garuda {
  background-position: -69px -103px;
}
.job-icon-gla {
  background-position: -103px -103px;
}
.job-icon-gnb {
  background-position: -137px -103px;
}
.job-icon-gsm {
  background-position: -171px -103px;
}
.job-icon-ifrit {
  background-position: -205px -103px;
}
.job-icon-lb {
  background-position: -1px -137px;
}
.job-icon-lnc {
  background-position: -35px -137px;
}
.job-icon-ltw {
  background-position: -69px -137px;
}
.job-icon-mch {
  background-position: -103px -137px;
}
.job-icon-min {
  background-position: -137px -137px;
}
.job-icon-mnk {
  background-position: -171px -137px;
}
.job-icon-mrd {
  background-position: -205px -137px;
}
.job-icon-nin {
  background-position: -1px -171px;
}
.job-icon-pgl {
  background-position: -35px -171px;
}
.job-icon-pld {
  background-position: -69px -171px;
}
.job-icon-pug {
  background-position: -103px -171px;
}
.job-icon-rdm {
  background-position: -137px -171px;
}
.job-icon-rog {
  background-position: -171px -171px;
}
.job-icon-rook {
  background-position: -205px -171px;
}
.job-icon-sam {
  background-position: -1px -205px;
}
.job-icon-sch {
  background-position: -35px -205px;
}
.job-icon-selene {
  background-position: -69px -205px;
}
.job-icon-smn {
  background-position: -103px -205px;
}
.job-icon-thm {
  background-position: -137px -205px;
}
.job-icon-titan {
  background-position: -171px -205px;
}
.job-icon-war {
  background-position: -205px -205px;
}
.job-icon-whm {
  background-position: -239px -1px;
}
.job-icon-wvr {
  background-position: -239px -35px;
}
